<div class="container-fluid">
	<div class="container-fluid">
		<h1 style="text-align: center">Der Kiez</h1>
		<h3 style="text-align: center">Zwischen Rotlicht und Hafenromantik, Ballermann-Tourismus und Kreativszene.</h3>
		<p style="text-align: center">St. Pauli ist voller Gegensätze. Und deshalb so einmalig.</p>
	</div>
	<br>
	<a><%= image_tag("parkfiction.jpg", class: "img-responsive center-block") %></a>
	<br>
</div>
