<div class="container-fluid">
	<div class="container-fluid kontakt">
		<h1 style="text-align: center">Kontakt</h1>
		<a><%= image_tag("liebe.jpg", class: "img-responsive center-block") %></a>
		<a>
			<ul style="list-style: none; text-align: center; padding: 0">
				<li><span class="glyphicon glyphicon-phone-alt"> </span> 040/2341234 </li>
				<br>
				<li><span class="glyphicon glyphicon-envelope"> </span> hallo@st-pauli.de </li>
				<br>
				<li><span class="glyphicon glyphicon-heart-empty"></span> <span class="glyphicon glyphicon-heart-empty"></span> <span class="glyphicon glyphicon-heart-empty"></span> <span class="glyphicon glyphicon-heart-empty"></span></li>
			</ul>
		</a>	
		<br>
	</div>
</div>
