<p id="notice"><%= notice %></p>


<!-- Articles -->
<div class="container-fluid">
  <div class="row textblock">
    <%= render partial: "shared/article", collection: @articles %>
  </div>
  <br>
  <%= link_to 'New Article', new_article_path %>
</div>


